localhost:8080 {   ## your webserver port either 80, or 443 for SSL
        root *  /usr/local/www/wordpress  ## <directory where your WP site PHP files are> , example are default FreeBSD location
        encode gzip
        php_fastcgi 127.0.0.1:9000 

        # Prevent malicious PHP uploads from running
        @uploads {
          path_regexp path /uploads\/(.*)\.php
        }
        rewrite @uploads /

        @wp-admin {
         path  not ^\/wp-admin/*
        }
	rewrite @wp-admin /index.php?{query}
        file_server
}


## these are old v1 format
##root <directory where your WP site PHP files are>
##gzip
##fastcgi / 127.0.0.1:9000 php

## Prevent malicious PHP uploads from running
##rewrite {
##	r /uploads\/(.*)\.php
##	to /
##}

##rewrite {
##	if {path} not_match ^\/wp-admin
##	to {path} {path}/ /index.php?{query}
##}
